<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NativeCompressions" version="0.6.0" manuallyInstalled="true" />
  <package id="NativeCompressions.LZ4" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Core" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.android-arm" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.android-arm64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.android-x64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.ios-arm64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.ios-x64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.linux-arm64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.linux-x64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.osx-arm64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.osx-x64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.win-arm64" version="0.6.0" />
  <package id="NativeCompressions.LZ4.Runtime.win-x64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Core" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.android-arm" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.android-arm64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.android-x64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.ios-arm64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.ios-x64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.linux-arm64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.linux-x64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.osx-arm64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.osx-x64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.win-arm64" version="0.6.0" />
  <package id="NativeCompressions.Zstandard.Runtime.win-x64" version="0.6.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.8" />
  <package id="System.IO.Pipelines" version="9.0.8" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="9.0.8" />
</packages>